DEEPSEEK_API_KEY=
DOCUMENTS_DIRECTORY=documents
VECTOR_DB_DIRECTORY=.vector_db
CHUNK_SIZE=1000
CHUNK_OVERLAP_SIZE=100
TOP_K=5
CALLBACK_URL=

MODEL_NAME=D:\models\bge-small-zh-v1.5
MODEL_KWARGS={"device": "cuda"}